{% extends 'profile/base.html' %}

{% block content %}
    <div class="task">
        <h1>Условие</h1>
        <p>{{ task.name|linebreaksbr }}</p>
        <p>{{ task.text|linebreaksbr }}</p>

        <h1>Тест задания</h1>
        <p>{{ task.test|linebreaksbr }}</p>

        <h1>Решение</h1>
        <form method="POST" class="solution-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Отправить</button>
        </form>
    </div>
{% endblock %}